.sidebar {
    width: 300px;
    height: 100vh;
    background-color: #fbfbfb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid #ddd;
  }
#sidebarcards{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
  .dashboard{
    height: 100vh;
  }
  
  .search-container {
    margin-bottom: 20px;
  }
  
  .search-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .add-button-container {
    display: flex;
    justify-content: center;
  }
  
  .add-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .add-button:hover {
    background-color: #FF5925;
  }
  
  .plus-icon {
    font-size: 32px;
    line-height: 1;
  }
  #sidebarbtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 5px 10px;
    width: 100%;
    background-color: antiquewhite;
    border: none;
    font: 14px;
    color: rgb(74, 74, 74);
    border-radius: 5px;
  }
  
  #sidebarbtn:hover{
    background-color: rgb(255, 222, 179);
    color: rgb(74, 74, 74);
    border-radius: 5px;
  }
  
    /* ------------------------------------------------------------------------------ */
    @media (max-width: 1280px) {

      .dashboard{
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
      }
      .sidebar {
        width: auto;
        height: 80px;
        flex-direction: row;
        justify-content: space-between;
      }
      .sidebarinner{
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
      #sidebarcards{
        display: flex;
        flex-direction: row;
        gap: 10px;
        height: 40px;
      }
      .add-button{
        height: 40px;
        width: 40px;
      }
      .search-field{
        display: none;
      }
    }